<div
  class="products-container"
  *ngIf="productsCollection$ | async as selectedProducts"
>
  <div class="shopping-bag-label-container">
    <span [hidden]="selectedProducts.length > 0">SHOPPING BAG IS EMPTY</span>
  </div>

  <e-shop-shopping-bag-product
    *ngFor="let product of selectedProducts; let i = index"
    [data]="product"
    (removeAction)="onRemove(product?.id)"
  >
  </e-shop-shopping-bag-product>
</div>
