.products-container {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  position: relative;
  padding: 10px;
  overflow: scroll;
}

.shopping-bag-label-container {
  height: 30px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
