<mat-horizontal-stepper
  #stepper
  *ngIf="productsCollection$ | async as bagProducts"
>
  <mat-step [completed]="bagProducts.length > 0">
    <ng-template matStepLabel>Shopping Bag</ng-template>
    <ng-template matStepContent>
      <e-shop-shopping-bag></e-shop-shopping-bag>
      <button
        style="margin-top: 10px"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="bagProducts.length < 1"
        mat-button
        matStepperNext
      >
        Submit Order
      </button>
    </ng-template>
  </mat-step>
  <mat-step [completed]="!isShippingDisabled">
    <ng-template matStepLabel>Shipping</ng-template>
    <ng-template matStepContent>
      <e-shop-shipping
        (validShippingAction)="setShippingValid($event)"
      ></e-shop-shipping>
    </ng-template>
  </mat-step>
  <mat-step [completed]="!isPaymentDisabled">
    <ng-template matStepLabel>Payment</ng-template>
    <ng-template matStepContent>
      <e-shop-payment (validAction)="setPaymentValid($event)"></e-shop-payment>
      <button
        style="margin-top: 10px"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="
          bagProducts.length === 0 || isShippingDisabled || isPaymentDisabled
        "
        mat-button
        matStepperNext
        (click)="showSuccessAlert(bagProducts.length)"
      >
        Submit Order
      </button>
    </ng-template>
  </mat-step>
</mat-horizontal-stepper>
