<div>
  <p>Shipping Address</p>
</div>
<form
  (change)="validShippingAction.emit(false)"
  class="w-full flex flex-col items-start justify-start"
  [formGroup]="shippingForm"
>
  <!--First and last names-->
  <div class="flex flex-row w-full justify-center gap-6">
    <div class="form-group w-full">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="First Name"
          formControlName="firstName"
          required
        />
        <mat-error *ngIf="shippingForm.hasError('required', 'firstName')">{{
          emptyIsNotAllowed
        }}</mat-error>
        <mat-error *ngIf="shippingForm.hasError('pattern', 'firstName')">{{
          onlyLettersAllowed
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group w-full">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last Name"
          formControlName="lastName"
          required
        />
        <mat-error *ngIf="shippingForm.hasError('required', 'lastName')">{{
          emptyIsNotAllowed
        }}</mat-error>
        <mat-error *ngIf="shippingForm.hasError('pattern', 'lastName')">{{
          onlyLettersAllowed
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <!--Address line 1-->
  <div class="form-group w-full text-center">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Address Line 1</mat-label>
      <input
        matInput
        placeholder="Enter your address1"
        formControlName="addressLine1"
        required
      />
      <mat-error *ngIf="shippingForm.hasError('required', 'addressLine1')">{{
        emptyIsNotAllowed
      }}</mat-error>
    </mat-form-field>
  </div>
  <!--Address line 2-->
  <div class="form-group w-full text-center">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Address Line 2</mat-label>
      <input
        matInput
        placeholder="Enter your address2"
        formControlName="addressLine2"
      />
    </mat-form-field>
  </div>
  <!--City and country-->
  <div class="flex flex-row w-full justify-center gap-6">
    <div class="form-group w-full">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city" required />
        <mat-error *ngIf="shippingForm.hasError('required', 'city')">{{
          emptyIsNotAllowed
        }}</mat-error>
        <mat-error *ngIf="shippingForm.hasError('pattern', 'city')">{{
          onlyLettersAllowed
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group w-full">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Country</mat-label>
        <input
          matInput
          placeholder="Country"
          formControlName="country"
          required
        />
        <mat-error *ngIf="shippingForm.hasError('required', 'country')">{{
          emptyIsNotAllowed
        }}</mat-error>
        <mat-error *ngIf="shippingForm.hasError('pattern', 'country')">{{
          onlyLettersAllowed
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <!--Postal code-->
  <div class="form-group w-full">
    <mat-form-field appearance="fill">
      <mat-label>Postal Code</mat-label>
      <input
        matInput
        placeholder="Postal Code"
        formControlName="postalCode"
        required
      />
      <mat-error *ngIf="shippingForm.hasError('required', 'postalCode')">{{
        emptyIsNotAllowed
      }}</mat-error>
      <mat-error *ngIf="shippingForm.hasError('pattern', 'postalCode')">{{
        maxLength
      }}</mat-error>
    </mat-form-field>
  </div>
  <!--Checkbox-->
  <div class="form-group pb-5">
    <mat-checkbox
      formControlName="check"
      (change)="validShippingAction.emit(false)"
      [checked]="true"
      labelPosition="after"
      >Use Shipping address as Billing address
    </mat-checkbox>
  </div>
</form>

<!--Billing form-->
<div *ngIf="!shippingForm.controls.check.value">
  <form
    class="w-full flex flex-col justify-start"
    [formGroup]="billingForm"
    (change)="validShippingAction.emit(false)"
  >
    <!--First and last names-->
    <div class="flex flex-row w-full justify-center gap-6">
      <div class="form-group w-full">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="First Name"
            formControlName="firstName"
            required
          />
          <mat-error *ngIf="billingForm.hasError('required', 'firstName')">{{
            emptyIsNotAllowed
          }}</mat-error>
          <mat-error *ngIf="billingForm.hasError('pattern', 'firstName')">{{
            onlyLettersAllowed
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group w-full">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Last Name"
            formControlName="lastName"
            required
          />
          <mat-error *ngIf="billingForm.hasError('required', 'lastName')">{{
            emptyIsNotAllowed
          }}</mat-error>
          <mat-error *ngIf="billingForm.hasError('pattern', 'lastName')">{{
            onlyLettersAllowed
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!--Address line 1-->
    <div class="form-group w-full text-center">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Address Line 1</mat-label>
        <input
          matInput
          placeholder="Enter your address1"
          formControlName="addressLine1"
          required
        />
        <mat-error *ngIf="billingForm.hasError('required', 'addressLine1')">{{
          emptyIsNotAllowed
        }}</mat-error>
      </mat-form-field>
    </div>

    <!--Address line 2-->
    <div class="form-group w-full text-center">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Address Line 2</mat-label>
        <input
          matInput
          placeholder="Enter your address2"
          formControlName="addressLine2"
        />
      </mat-form-field>
    </div>

    <!--City and country-->
    <div class="flex flex-row w-full justify-center gap-6">
      <div class="form-group w-full">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city" required />
          <mat-error *ngIf="billingForm.hasError('required', 'city')">{{
            emptyIsNotAllowed
          }}</mat-error>
          <mat-error *ngIf="billingForm.hasError('pattern', 'city')">{{
            onlyLettersAllowed
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group w-full">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Country</mat-label>
          <input
            matInput
            placeholder="Country"
            formControlName="country"
            required
          />
          <mat-error *ngIf="billingForm.hasError('required', 'country')">{{
            emptyIsNotAllowed
          }}</mat-error>
          <mat-error *ngIf="billingForm.hasError('pattern', 'country')">{{
            onlyLettersAllowed
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!--Postal code-->
    <div class="form-group w-full">
      <mat-form-field appearance="fill">
        <mat-label>Postal Code</mat-label>
        <input
          matInput
          placeholder="Postal Code"
          formControlName="postalCode"
          required
        />
        <mat-error *ngIf="billingForm.hasError('required', 'postalCode')">{{
          emptyIsNotAllowed
        }}</mat-error>
        <mat-error *ngIf="billingForm.hasError('pattern', 'postalCode')">{{
          maxLength
        }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<button
  style="margin-top: 10px"
  type="submit"
  mat-raised-button
  color="primary"
  [disabled]="(isFormValid$ | async) !== true"
  mat-button
  matStepperNext
  (click)="onSubmit()"
>
  Submit Order
</button>
