<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ nameOfTheApp }}</span>
    <span class="spacer"></span>
    <button mat-button color="basic">{{ defaultText + itemsCount }}</button>
  </mat-toolbar-row>
</mat-toolbar>
