<!-- Placeholders -->
<ng-container *ngTemplateOutlet="header"></ng-container>
<ng-container *ngTemplateOutlet="content"></ng-container>

<!-- Templates -->

<ng-template #header>
  <e-shop-toolbar
    *ngIf="productsCollection$ | async as selectedProducts"
    [nameOfTheApp]="title"
    [itemsCount]="selectedProducts.length"
  ></e-shop-toolbar>
</ng-template>

<ng-template #content>
  <div class="container flex flex-row items-start content content-start">
    <e-shop-products></e-shop-products>
    <e-shop-tabs></e-shop-tabs>
  </div>
</ng-template>
