<div
  class="
    mb-1
    bg-gray-500
    cursor-pointer
    flex flex-row
    items-center
    content-center
  "
>
  <p class="ml-5 mr-1 product-name">
    {{ data?.name }}
  </p>
  <input class="mr-1" matInput type="text" [value]="1" />
  <button
    class="ml-11 bg-red-300 w-20 h-8"
    (click)="removeAction.emit(data?.id)"
  >
    X
  </button>
</div>
