<p>Credit Card Details</p>
<form
  class="w-full flex flex-col items-center justify-start"
  [formGroup]="paymentForm"
>
  <div class="form-group w-full text-center">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Card owner</mat-label>
      <input
        matInput
        placeholder="Enter your name"
        formControlName="cardOwner"
        required
      />
      <mat-error *ngIf="paymentForm.invalid">{{
        'card owner is not set'
      }}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-group w-full text-center">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Card number</mat-label>
      <input
        matInput
        placeholder="Enter code number"
        formControlName="cardNumber"
        required
      />
      <mat-error *ngIf="paymentForm.hasError('required', 'cardNumber')">{{
        emptyIsNotAllowed
      }}</mat-error>
      <mat-error *ngIf="paymentForm.hasError('pattern', 'cardNumber')">{{
        onlyNumbers
      }}</mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-row w-full justify-center gap-5">
    <div class="form-group w-full">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Expired</mat-label>
        <input
          matInput
          placeholder="MM/YY"
          formControlName="expired"
          required
        />
        <mat-error *ngIf="paymentForm.hasError('pattern', 'expired')"
          >expire date is wrong. should be: dd/mm</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-group w-full">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Code</mat-label>
        <input matInput placeholder="CVV" formControlName="code" required />
        <mat-error *ngIf="paymentForm.hasError('required', 'code')">{{
          emptyIsNotAllowed
        }}</mat-error>
        <mat-error *ngIf="paymentForm.hasError('pattern', 'code')">{{
          maxLength
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
