.product-container {
  border: #333333 1px solid;
  user-select: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: relative;
  .name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: aliceblue;
    margin: 0;
  }
}
